.chart__container {
    position: relative;
    margin-bottom: 20px;
}

.chart {
    width: 1270px;
    height: 100%;
}

.historyBtns {
    position: absolute;
    top: -1%;
    right: 2.3%;
    z-index: 1;
}

.historyBtn {
    border: .1px solid rgb(204, 204, 204);
    background-color: rgb(231, 231, 231);

    width: 65px;
    height: 38px;
    margin: 0 -1px;

    text-align: center;
    font-size: 15px;
}

.historyBtn:first-child {
    border-radius: 10px 0 0 10px;
}

.historyBtn:last-child {
    border-radius: 0 10px 10px 0;
}



/* ---------- Media ---------- */
@media (max-width: 1875px) {
    .chart {
        width: 1000px;
    }
}

@media (max-width: 1400px) {
    .chart {
        width: 910px;
    }

    .historyBtn {
        width: 55px;
    }
}

@media (max-width: 980px) {
    .chart {
        width: 820px;
    }

    .historyBtn {
        width: 50px;
    }
}

@media (max-width: 875px) {
    .chart {
        width: 720px;
    }
}

@media (max-width: 810px) {
    .chart {
        width: 630px;
    }

    .historyBtn {
        width: 40px;
        height: 36px;
        font-size: 11px;
    }
}

@media (max-width: 730px) {
    .chart {
        width: 550px;
    }

    .historyBtn {
        width: 37px;
        height: 35px;
    }
}

@media (max-width: 630px) {
    .chart {
        width: 500px;
    }

    .historyBtn {
        width: 33px;
        height: 34px;
        font-size: 10px;
    }
}

@media (max-width: 540px) {
    .chart {
        display: none;
    }

    .historyBtns {
        display: none;
    }
}

@media (max-height: 695px) {
    .chart {
        display: none;
    }

    .historyBtns {
        display: none;
    }
}