.addTransactionDropdown__item {
    width: 100%;
    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: transparent;

    font-weight: 700;
    font-size: 18px;
}

.addTransactionDropdown__item span {
    font-weight: 100;
    font-size: 17px;
    color: rgb(90, 99, 129);
}