*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

*:focus {
  outline-color: rgb(186, 196, 255);
}

*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(77, 84, 105);
}

button {
  cursor: pointer;
}

span {
  margin-left: 15px;
  color: rgb(213, 213, 213);
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(247, 247, 247);
}

.search {
  width: 500px;
  height: 40px;

  margin: 13.5px;
  padding: 0 15px;
  font-size: 17px;

  border: 1px solid rgb(172, 172, 172);
  border-radius: 12px;
}

.table {
  width: 1370px;
  border: 1px solid rgb(210, 210, 210);

  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 8px 23px 8px rgba(0, 0, 0, 0.14);
}

.table__items {
  height: 700px;
  overflow: auto;
}

.table__item {
  width: 100%;
  max-height: 140px;
  padding: 13px 35px;
  margin: -1px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgb(192, 192, 192);
  color: #333;
  font-size: 18px;
}

.table__col_id {
  width: 10%;
}

.table__col_title {
  width: 60%;
}

.table__col_body {
  width: 30%;
}

.table__pages {
  margin: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.table__page {
  width: 40px;
  height: 40px;
  margin: 0 2.7px;

  border: none;
  border-radius: 28%;
  background-color: rgb(59, 65, 81);

  font-size: 17px;
  color: #fff;

  transition: all .15s;
}

.table__page:hover {
  background-color: rgb(0, 0, 0);
}

.nav-btn {
  border: none;
  border-radius: 20px;
  background-color: transparent;

  width: 85px;
  height: 45px;
  margin: 0 5px;

  font-size: 19px;
  font-weight: 700;
  color: rgb(59, 65, 81);

  transition: all .3s;
}

.nav-btn:hover {
  background-color: rgb(220, 220, 220);
}

.main-title {
  cursor: pointer;
  background-color: rgb(59, 65, 81);
}